<div class="container">
	<% if @out_of_stock.empty? %>
		<h2>Thank you!</h2>

		<p>Thank you for purchasing:</p>
		<p><%= pluralize(@stock, @item) %></p>
		<%= link_to "Confirm Order", checkout_order_confirm_path, class: "btn btn-success" %>
	<%else %>
		<%= @out_of_stock %>
	<% end %>
</div>